{% extends "layout.html" %}
{% block body %}
<a class="navbar-brand">メニュー<a>

<ul class="list-group">
  <a href="/tsundoku" class="list-group-item list-group-item-action">積読:  ブクログに登録した積読本を検索</a>
  <a href="/isbn" class="list-group-item list-group-item-action">書籍情報:   ISBNから書籍情報を検索</a>
  <a href="/amazon-info" class="list-group-item list-group-item-action">Kindle本情報: Kindle本の書籍情報をAmazonサイトから抽出</a>
  <a href="/yurindo" class="list-group-item list-group-item-action">在庫検索(有隣堂):   有隣堂の在庫状況を調べる</a>
</ul>
{% endblock %}
