{% extends "layout.html" %}
{% block body %}
<a class="navbar-brand">在庫検索（有隣堂）</a>
<form action="{{ url_for('books.zaiko_kensaku') }}" method="post">
	<div class="form-group">
		<label for="ISBN">ISBN</label>
		<input type="text" class="form-control" id="ISBN" name=isbn>
        対象店舗<br>
        ・大井町(0520), 蒲田(0510), 川崎(0420)<br>
		<label for="tenpo">・追加する場合：店舗ID(数字4桁)を入力</label>
		<input type="text" class="form-control" id="tenpo" name=tenpo>
	</div>
	<button type="submit" class="btn btn-primary">検索</button>
</form>
{% endblock %}
