{% extends "layout.html" %}
{% block body %}
<a class="navbar-brand">Kindle本の情報をAmazonサイトから抽出</a>
<form action="{{ url_for('books.get_amazon_info') }}" method="post">
<img src="/static/amazon_sample_002.jpg" width="80%">
	<div class="form-group">
		<label for="amazoninfo1">①タイトル・著者</label>
        <textarea class="form-control" id="AmazonInfo1" rows="2"  name=amazon_info1></textarea>
		<label for="amazoninfo2">②出版社・発売日</label>
        <textarea class="form-control" id="AmazonInfo2" rows="8"  name=amazon_info2></textarea>
	</div>
	<button type="submit" class="btn btn-primary">抽出</button>
</form>
{% endblock %}
