{% extends "layout.html" %}
{% block body %}
<a class="navbar-brand">ISBNから書籍情報を検索</a>
<form action="{{ url_for('books.get_quote') }}" method="post">
	<div class="form-group">
		<label for="ISBN">ISBN</label>
		<input type="text" class="form-control" id="ISBN" name=isbn>
	</div>
	<button type="submit" class="btn btn-primary">検索</button>
</form>
{% endblock %}
