{% extends "layout.html" %}
{% block body %}
<a class="navbar-brand">検索結果</a>
	<div class="card">
		<div class="card-body">
			<p class="card-text">{{result}}</p>
		</div>
	</div>
	<div class="mt-3">
		<button type="button" class="btn btn-primary" onclick="history.back()">戻る</button>
	</div>
{% endblock %}
