{% extends "layout.html" %}
{% block body %}
<a class="navbar-brand">検索結果</a>
	<div class="card">
        <div class="card-body">
            <h5 class="card-title">書籍情報</h5>
            <div class="row">
                <div class="col-sm-3">
                    <img src={{result['thumbnail']}} alt="thumbnail" title="thumbnail">
                </div>
                <div class="col-sm-9">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th scope="row">書名</th>
                                <td>{{result['title']}}</td>
                            </tr>
                            <tr>
                                <th scope="row">著者</th>
                                <td>{{result['authorlist']}}</td>
                            </tr>
                            <tr>
                                <th scope="row">出版年月日</th>
                                <td>{{result['publishedDate']}}</td>
                            </tr>
                            <tr>
                                <th scope="row">出版社</th>
                                <td>{{result['publisher']}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th scope="row">引用文</th>
                                <td>{{result['quote']}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
	</div>
	<div class="mt-3">
		<button type="button" class="btn btn-primary" onclick="history.back()">戻る</button>
	</div>
{% endblock %}
