{% extends "layout.html" %}
{% block body %}
<a class="navbar-brand">検索結果</a>
	<div class="card">
        <div class="card-body">
            <h5 class="card-title">書籍情報</h5>
            <div class="row">
                <div class="col-sm-3">
                    <img src={{result['thumbnail']}} alt="thumbnail" title="thumbnail">
                </div>
                <div class="col-sm-9">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th scope="row">書名</th>
                                <td>{{result['title']}}</td>
                            </tr>
                            <tr>
                                <th scope="row">著者</th>
                                <td>{{result['authorlist']}}</td>
                            </tr>
                            <tr>
                                <th scope="row">出版年月日</th>
                                <td>{{result['publishedDate']}}</td>
                            </tr>
                            <tr>
                                <th scope="row">出版社</th>
                                <td>{{result['publisher']}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th scope="row">引用文</th>
                                <td>{{result['quote']}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
	<div class="card">
        <div class="card-body">
            <h5 class="card-title">在庫状況</h5>
            <div class="table-responsive">
                <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col" class="text-nowrap">店舗名</th>
                        <th scope="col" class="text-nowrap">在庫状況</th>
                        <th scope="col" class="text-nowrap">棚番号</th>
                        <th scope="col" class="text-nowrap">店舗ID</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in range(tenpo_list | length) %}
                    <tr>
                        <td class="text-nowrap">{{ tenpo_name_list[i] }}</td>
                        <td class="text-nowrap">{{ zaiko_list[i] }}</td>
                        <td class="text-nowrap">{{ tana_list[i] }}</td>
                        <td class="text-nowrap">{{ tenpo_list[i] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
	</div>
	<div class="mt-3">
		<button type="button" class="btn btn-primary" onclick="history.back()">戻る</button>
	</div>
{% endblock %}
