{% extends "layout.html" %}
{% block body %}
<a class="navbar-brand">検索結果: {{result[1]}}冊</a>
	<div class="card">
	    <ul>
                {% for i in result[0] %}
		    <li>{{i}}</li>
                {% endfor %}
            </ul>
	</div>
	<div class="mt-3">
		<button type="button" class="btn btn-primary" onclick="history.back()">戻る</button>
	</div>
{% endblock %}
