{% extends "layout.html" %}
{% block body %}
<a class="navbar-brand">積読検索（Booklog）</a>
<form action="{{ url_for('books.search_tsundoku') }}" method="post">
	<div class="form-group">
		<label for="UserID">ユーザID</label>
		<input type="text" class="form-control" id="UserID" name=userid>
	</div>
	<div class="form-group">
		<label for="Category">カテゴリID (指定なしの場合：0）</label>
		<input type="text" class="form-control" id="Category" name=categoryid value='0'>
	</div>
	</div>
	<button type="submit" class="btn btn-primary">検索</button>
</form>
{% endblock %}
